In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('/content/fuel_ferc1.csv')

### Checking Data_description

In [3]:
df.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [4]:
df[df['fuel_cost_per_unit_burned'] == -276.080000]

                    record_id  ...  fuel_cost_per_mmbtu
7733  f1_fuel_2000_12_194_3_3  ...               -8.906

[1 rows x 11 columns]

#### Skewness and Kurtosis

In [5]:
from scipy.stats import kurtosis, skew
x = df['fuel_qty_burned']
print( 'skewness of normal distribution (should be 0): {}'.format( skew(x) ))
print( 'excess kurtosis of normal distribution (should be 0): {}'.format( kurtosis(x) ))

skewness of normal distribution (should be 0): 15.850690077422112
excess kurtosis of normal distribution (should be 0): 651.2589365474387

### Checking Missing values

In [6]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [7]:
count_ofMissing = df.isnull().sum()

In [8]:
percentage_missing = count_ofMissing/len(df)
percentage_missing

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.006097
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

#### Correlation_Check

In [9]:
df[df.columns[1:]].corr()['fuel_cost_per_unit_burned'][:]

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

# Percentage Change in 94 and 98

In [10]:
coal = df[df['fuel_type_code_pudl'] == 'coal']
coal_94 = coal[coal['report_year'] == 1994 ]
coal_98 = coal[coal['report_year'] == 1998 ]
sum_98 = coal_98['fuel_cost_per_unit_burned'].sum()
sum_94 = coal_94['fuel_cost_per_unit_burned'].sum()
Percent_change = ((sum_98 - sum_94)/sum_94) * 100
Percent_change

-20.56765451826053

# Year with Highest Fuel Per_unit delivered

In [11]:
df['fuel_cost_per_unit_delivered'].max()

7964521.0

In [12]:
df[df['fuel_cost_per_unit_delivered'] == 7964521.0]

                  record_id  ...  fuel_cost_per_mmbtu
3564  f1_fuel_1997_12_9_0_8  ...                0.578

[1 rows x 11 columns]